@import url('https://fonts.googleapis.com
/css?family=open+sans:400,700');
@import url('https://fonts.googleapis.com
/css?family=Merriweather:400,700');

body{
background-color: rgb(11, 123, 160); 
font-family: "Open Sans", sans-serif;
padding: 5px 25px;
font-size: 18px;
width: 700px;
margin: auto;
color: #444;
}
h1,h2,h3,h4{
    font-family: "Merriweather", serif;
    clear: both; 
}
img{
    margin:22px 10px 10px 0px;
    float: center;
}